<p class="title">Small-Medium Assets Insurance</p>

<form [formGroup]="form" #insureForm="ngForm"(submit)="onSubmit(insureForm.value)" >
<div class="home">
   

  <mat-card class="example-card">
    <mat-card-header style="position: relative;
    top: -20px;">
      <mat-card-title style="font-size: 30px;">INFORMATION</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="body"><p style="font-size: 20px;">
        Please inform the following forms.
      </p>

      <div class="form">
      <label for="firstName" >Firstname :
        <span style="color: red;" *ngIf="form.get('firstName').errors?.required">
          *</span><br>
      </label>
       <input class="form-control"  formControlName="firstName"
       placeholder="firstName"  name="firstName"  >
    </div>

    <div class="form">
      <label for="lastName">LastName :
        <span style="color: red;" *ngIf="form.get('lastName').errors?.required">
          *</span><br>
      </label>
       <input type="text"id="lastName"  formControlName="lastName"
        name="lastName"  placeholder="lastName">
    </div>

    <div class="form">
      <label for="gender">Gender :
        <span style="color: red;" *ngIf="form.get('gender').errors?.required">
          *</span><br>
      </label>
      <mat-radio-group aria-label="Select an option"
      formControlName="gender"
       style="margin-top: 15px;">
        <mat-radio-button  value="Male">Male </mat-radio-button>
        <mat-radio-button  value="Female">Female </mat-radio-button>
        <mat-radio-button value="Others">Others </mat-radio-button>
      </mat-radio-group>

       <!-- <input type="text"id="gender"  formControlName="gender"
        name="gender"  placeholder="gender">    -->
    </div>

    <div class="form">
      <label for="email">E-mail :
        <span style="color: red;" *ngIf="form.get('email').errors?.required">
          *</span><br>
      </label>
       <input type="text"id="email"  formControlName="email"
        name="email"  placeholder="ex. kajonsak@sma.com">   
    </div>

    <div class="form">
      <label for="phone">Phone Number :
        <span style="color: red;" *ngIf="form.get('phone').errors?.required">
          *</span><br>
      </label>
       <input type="text"id="phone"  formControlName="phone"
        name="phone"  placeholder="phone number ">   
    </div>

    <div class="form">
      <label for="address">Address :
        <span style="color: red;" *ngIf="form.get('address').errors?.required">
          *</span><br>
      </label>
       <input type="text"id="address"  formControlName="address"
        name="address"  placeholder="address">   
    </div>

    <div class="form">
      <label for="idcard">Peron Id :
        <span style="color: red;" *ngIf= "form.get('idcard').errors?.required 
        || form.get('idcard').errors?.minLength" >
          *</span><br>
      </label>
       <input type="text"id="idcard"  formControlName="idcard"
        name="idcard"  placeholder="must be 13 characters">   
    </div>

    <div class="form">
      <label for="address">BirthDate :
        <span style="color: red;" *ngIf="form.get('address').errors?.required">
          *</span><br>
      </label>
      <mat-form-field appearance="fill" class="form" style="font-size: 20px;">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateofbirth">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    </div>
    

    </div>    
  </mat-card-content> 
</mat-card>

    <mat-card class="example-card">
      <mat-card-header style="position: relative;
      top: -20px;">
        <mat-card-title style="font-size: 30px;">ASSETS</mat-card-title>
        <div style="width: 500px;">
          <mat-icon>image</mat-icon>
        </div>
        </mat-card-header>
          
          <img mat-card-image style="height: 400px;
            background-color: white;" [src]= "imgUrl"> 
          <mat-card-content>
            <p style="font-size: 20px;">Please chooses image of assets you want.</p>

              <input type="file" #Image accept="image/*"
              (change)="handleFileInput($event.target.files)"
              id="img" class="chooseFile" formControlName ="pictureURL"
               name="img" required
              >
              

              <div class="form">
                <label for="brand">Brand :
                  <span style="color: red;" *ngIf="form.get('brand').errors?.required">
                    *</span><br>
                </label>
                 <input type="text"id="brand"  formControlName="brand"
                  name="brand"  placeholder="Brand">
              </div>
              
          </mat-card-content>

        <mat-card-actions></mat-card-actions>
    </mat-card>
  
</div> 
<div style="display: flex;justify-content: center;">
  <button mat-flat-button type="submit"   name="imgUrl" id="imgUrl"
  
 [disabled]="form.invalid || Image.value=='' " 
  
  (click)="addPost()"
  style="background-color:#6D7BB3;  
      height: 70px;    
      width: 250px;
      margin-top: 80px;
      font-size:24px ;
      ">
      SUBMIT</button>
      
    </div>
</form> 
